.Landing {
  background-color: var(--main-bg-color);
  height: calc(100dvh - var(--nav-height));

  .Landing__title {
    font-size: 100px;
    font-weight: bold;

    @media (max-width: 991px) {
      font-size: 70px;
    }
  }

  .Landing__img {
    width: 400px;

    @media (max-width: 1200px) {
      width: 250px;
    }

    img {
      width: 100%;
    }
  }
}
